@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&family=Montserrat:wght@100;200;300;400;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply font-montserrat;
    @apply text-dark;
  }
  h2 {
    @apply font-montserrat;
    @apply text-dark;
  }
  h3 {
    @apply font-inter;
  }
  p {
    @apply font-asap;
    @apply text-grey-lighter;
  }
  li {
    @apply font-asap;
  }
  button {
    @apply font-inter;
  }
  
}

@layer utilities {
  .transition-transform {
    transition-property: transform;
  }
  
  @keyframes animate {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }

  @keyframes animate-rev {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(0);
    }
  }

  @keyframes zoom {
    from {
      transform: scale(1);
    }
    to {
      transform: scale(1.3);
    }
  }

  .pause-animation {
    animation-play-state: paused;
  }

  .parent:hover .child {
    animation-play-state: paused;
  }
}